@import "tailwindcss";
@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}



body {
  font-family: 'Muli', sans-serif; /* Set Muli font globally */
}